canvas{
    display: inline;
}
html{
    background-color: dimgrey;
}
.container {
    width: 80%;
    height: 600px;
    margin: auto;
    padding: 10px;
  }
  
  .one {
    width: 60%;
    height: 600px;
    background: black;
    float: left;
    text-align: right;
  }
  
  .two {
    margin-left: 60%;
    height: 600px;
    background: white;
    text-align: left;
  }